server {
  server_name default;
  root        /var/www/default;
  index index.html index.php ;
  include /etc/nginx/sites-module/enable-php.conf;
}

# Sample By Laravel
# server {
#     listen 80;
#     server_name dev.laravel.com;
#     index index.php index.html;
#     root /var/www/laravel/public;
#
#     include /etc/nginx/sites-module/enable-php.conf;
#     include /etc/nginx/sites-module/enable-laravel.conf;
# }